[package]
name = "rtos-rl"
version = "0.1.0"
edition = "2021"

[dependencies]
cortex-m = "0.7"
cortex-m-rt = "0.7"
panic-halt = "0.2"
cortex-m-semihosting = "0.5"

[profile.release]
opt-level = "z"
lto = true
